<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <base href="">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Flatdoc theme -->
  <link href="./bower_components/flatdoc/theme-white/style.css" rel="stylesheet">
  <script src="./bower_components/google-code-prettify/bin/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./bower_components/google-code-prettify/bin/prettify.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css">
  <!-- DocBase -->
  <link rel="stylesheet" type="text/css" href="./bower_components/docbase/dist/css/main.min.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./styles/theme.css">
  
<script type="text/javascript" async="" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script><script type="text/javascript" async="" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script></head>
<body role="flatdoc" class="no-literate">
  <!-- ngView:  --><div ng-view="" class="ng-scope"><!-- ngInclude: navbarHtml --><nav class="navbar navbar-default navbar-fixed-top ng-scope" ng-include="navbarHtml"><div class="container-fluid ng-scope">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="docs-appbase-logo" class="navbar-brand" ng-href="#/" href="#/">
      <img src="./images/docbase.png">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/applications/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/applications/index.html>applications</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/applications/applications-and-instances.html ng-bind="file.label" class="ng-binding" href=./EN/applications/applications-and-instances.html>applications-and-instances</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/applications/dependency-injection.html ng-bind="file.label" class="ng-binding" href=./EN/applications/dependency-injection.html>dependency-injection</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/applications/index.html ng-bind="file.label" class="ng-binding" href=./EN/applications/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/components/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/components/index.html>components</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/customizing-a-components-element.html ng-bind="file.label" class="ng-binding" href=./EN/components/customizing-a-components-element.html>customizing-a-components-element</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/defining-a-component.html ng-bind="file.label" class="ng-binding" href=./EN/components/defining-a-component.html>defining-a-component</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/components/index.html ng-bind="file.label" class="ng-binding" href=./EN/components/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/configuring-ember/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/configuring-ember/index.html>configuring-ember</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/configuring-ember-cli.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/configuring-ember-cli.html>configuring-ember-cli</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/configuring-your-app.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/configuring-your-app.html>configuring-your-app</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/debugging.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/debugging.html>debugging</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/configuring-ember/index.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/contributing/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/contributing/index.html>contributing</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/contributing/adding-new-features.html ng-bind="file.label" class="ng-binding" href=./EN/contributing/adding-new-features.html>adding-new-features</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/contributing/repositories.html ng-bind="file.label" class="ng-binding" href=./EN/contributing/repositories.html>repositories</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/contributing/index.html ng-bind="file.label" class="ng-binding" href=./EN/contributing/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown search-dropdown">
        <div class="form-group search-form" data-ng-class="{'open-in':search.length &gt; 0}"><input class="search_field form-control dropdown-toggle appbase-search" type="text" placeholder="search"></div>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
           <span ng-bind="currentVersion" class="ng-binding">EN</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu version-switcher" role="menu">
          <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./BR/applications/applications-and-instances.pt-BR.html ng-bind="version" class="ng-binding" href=./BR/applications/applications-and-instances.pt-BR.html>BR</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./EN/applications/applications-and-instances.html ng-bind="version" class="ng-binding" href=./EN/applications/applications-and-instances.html>EN</a>
          </li><!-- end ngRepeat: version in versions -->
        </ul>
      </li>
      <!-- ngIf: docbaseOptions.method == 'github' --><li class="github-star ng-scope" data-ng-if="docbaseOptions.method == 'github'">
        <iframe src="https://ghbtns.com/github-btn.html?user=farhan687&amp;repo=emberjs&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </li><!-- end ngIf: docbaseOptions.method == 'github' -->
      <!-- ngIf: docbaseOptions.method != 'github' -->
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- ngIf: !index --><div role="flatdoc" class="content-root ng-scope" data-ng-if="!index">
  <div class="menubar fixed">
    <div class="menu section" role="flatdoc-menu"><ul><li id="root-item" class="level-0"></li></ul></div>
  </div>
  <div role="flatdoc-content" class="content"><div class="extra_container"><div class="contributors_header">Contributors<span class="pull-right modified-date">Last Modified On : <a href="https://github.com/farhan687/emberjs/commit/3b8cfadcd65ef09ff814deecd58b21b6dc0ca6ef">Mar 22, 2016</a></span></div><div class="contributor-container"><a class="contributor" href="https://github.com/farhan687" title="farhan687" target="_blank"><img class="contributor_img img-rounded" src="https://avatars.githubusercontent.com/u/6059027?v=3" alt="farhan687"></a></div></div><div class="clearFix"></div><p>Every Ember application is represented by a class that extends <a href="http://emberjs.com/api/classes/Ember.Application.html"><code>Ember.Application</code></a>.
This class is used to declare and configure the many objects that make up your app.</p><p>As your application boots,
it creates an <a href="http://emberjs.com/api/classes/Ember.ApplicationInstance.html"><code>Ember.ApplicationInstance</code></a> that is used to manage its stateful aspects.
This instance acts as the “owner” of objects instantiated for your app.</p><p>Essentially, the <code>Application</code> <em>defines your application</em>
while the <code>ApplicationInstance</code> <em>manages its state</em>.</p><p>This separation of concerns not only clarifies the architecture of your app,
it can also improve its efficiency.
This is particularly true when your app needs to be booted repeatedly during testing
and / or server-rendering (e.g. via <a href="https://github.com/tildeio/ember-cli-fastboot">FastBoot</a>).
The configuration of a single <code>Application</code> can be done once
and shared among multiple stateful <code>ApplicationInstance</code> instances.
These instances can be discarded once they’re no longer needed
(e.g. when a test has run or FastBoot request has finished).</p></div>
  <!-- ngIf: docbaseOptions.method == 'github' --><a data-ng-if="docbaseOptions.method == 'github'" class="edit ng-scope" ng-href="https://github.com/farhan687/emberjs/tree/master/source/EN/applications/applications-and-instances.md" target="_blank" href="https://github.com/farhan687/emberjs/tree/master/source/EN/applications/applications-and-instances.md">
    <span class="fa fa-pencil"> Edit</span>
  </a><!-- end ngIf: docbaseOptions.method == 'github' -->
</div><!-- end ngIf: !index -->
<!-- ngIf: index -->
</div>

 <script type="text/javascript" src="./docbase-config.js"></script>
  <script type="text/javascript" src="./bower_components/docbase/dist/js/main.unique.js"></script>



</body><script>$(function(){  $('.search-form').searchAppbase('/search-index.json', true); })</script></html>