<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <base href="../../">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Flatdoc theme -->
  <link href="./bower_components/flatdoc/theme-white/style.css" rel="stylesheet">
  <script src="./bower_components/google-code-prettify/bin/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./bower_components/google-code-prettify/bin/prettify.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css">
  <!-- DocBase -->
  <link rel="stylesheet" type="text/css" href="./bower_components/docbase/dist/css/main.min.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./styles/theme.css">
  
<script type="text/javascript" async="" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script></head>
<body role="flatdoc" class="no-literate">
  <!-- ngView:  --><div ng-view="" class="ng-scope"><!-- ngInclude: navbarHtml --><nav class="navbar navbar-default navbar-fixed-top ng-scope" ng-include="navbarHtml"><div class="container-fluid ng-scope">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="docs-appbase-logo" class="navbar-brand" ng-href="#/" href="#/">
      <img src="./images/docbase.png">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/applications/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/applications/index.html>applications</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/applications/applications-and-instances.html ng-bind="file.label" class="ng-binding" href=./EN/applications/applications-and-instances.html>applications-and-instances</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/applications/dependency-injection.html ng-bind="file.label" class="ng-binding" href=./EN/applications/dependency-injection.html>dependency-injection</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/applications/initializers.html ng-bind="file.label" class="ng-binding" href=./EN/applications/initializers.html>initializers</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/applications/run-loop.html ng-bind="file.label" class="ng-binding" href=./EN/applications/run-loop.html>run-loop</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/applications/services.html ng-bind="file.label" class="ng-binding" href=./EN/applications/services.html>services</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/applications/index.html ng-bind="file.label" class="ng-binding" href=./EN/applications/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/components/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/components/index.html>components</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/customizing-a-components-element.html ng-bind="file.label" class="ng-binding" href=./EN/components/customizing-a-components-element.html>customizing-a-components-element</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/defining-a-component.html ng-bind="file.label" class="ng-binding" href=./EN/components/defining-a-component.html>defining-a-component</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/handling-events.html ng-bind="file.label" class="ng-binding" href=./EN/components/handling-events.html>handling-events</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/passing-properties-to-a-component.html ng-bind="file.label" class="ng-binding" href=./EN/components/passing-properties-to-a-component.html>passing-properties-to-a-component</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/the-component-lifecycle.html ng-bind="file.label" class="ng-binding" href=./EN/components/the-component-lifecycle.html>the-component-lifecycle</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/triggering-changes-with-actions.html ng-bind="file.label" class="ng-binding" href=./EN/components/triggering-changes-with-actions.html>triggering-changes-with-actions</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/components/wrapping-content-in-a-component.html ng-bind="file.label" class="ng-binding" href=./EN/components/wrapping-content-in-a-component.html>wrapping-content-in-a-component</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/components/index.html ng-bind="file.label" class="ng-binding" href=./EN/components/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/configuring-ember/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/configuring-ember/index.html>configuring-ember</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/configuring-ember-cli.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/configuring-ember-cli.html>configuring-ember-cli</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/configuring-your-app.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/configuring-your-app.html>configuring-your-app</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/debugging.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/debugging.html>debugging</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/disabling-prototype-extensions.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/disabling-prototype-extensions.html>disabling-prototype-extensions</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/embedding-applications.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/embedding-applications.html>embedding-applications</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/feature-flags.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/feature-flags.html>feature-flags</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/handling-deprecations.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/handling-deprecations.html>handling-deprecations</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/configuring-ember/specifying-url-type.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/specifying-url-type.html>specifying-url-type</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/configuring-ember/index.html ng-bind="file.label" class="ng-binding" href=./EN/configuring-ember/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./EN/contributing/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./EN/contributing/index.html>contributing</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/contributing/adding-new-features.html ng-bind="file.label" class="ng-binding" href=./EN/contributing/adding-new-features.html>adding-new-features</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./EN/contributing/repositories.html ng-bind="file.label" class="ng-binding" href=./EN/contributing/repositories.html>repositories</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./EN/contributing/index.html ng-bind="file.label" class="ng-binding" href=./EN/contributing/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown search-dropdown">
        <div class="form-group search-form" data-ng-class="{'open-in':search.length &gt; 0}"><input class="search_field form-control dropdown-toggle appbase-search" type="text" placeholder="search"></div>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
           <span ng-bind="currentVersion" class="ng-binding">EN</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu version-switcher" role="menu">
          <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./BR/applications/applications-and-instances.pt-BR.html ng-bind="version" class="ng-binding" href=./BR/applications/applications-and-instances.pt-BR.html>BR</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./EN/applications/applications-and-instances.html ng-bind="version" class="ng-binding" href=./EN/applications/applications-and-instances.html>EN</a>
          </li><!-- end ngRepeat: version in versions -->
        </ul>
      </li>
      <!-- ngIf: docbaseOptions.method == 'github' --><li class="github-star ng-scope" data-ng-if="docbaseOptions.method == 'github'">
        <iframe src="https://ghbtns.com/github-btn.html?user=farhan687&amp;repo=emberjs&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </li><!-- end ngIf: docbaseOptions.method == 'github' -->
      <!-- ngIf: docbaseOptions.method != 'github' -->
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- ngIf: !index --><div role="flatdoc" class="content-root ng-scope" data-ng-if="!index">
  <div class="menubar fixed">
    <div class="menu section" role="flatdoc-menu"><ul><li id="root-item" class="level-0"><ul class="level-1" id="root-list"><li id="root-item" class="level-1"><ul class="level-2" id="root-list"><li id="root-item" class="level-2"><ul class="level-3" id="root-list"><li id="-defining-services-item" class="level-3"><a id="-defining-services-link" href="./EN/applications/services.html#-defining-services" class="level-3" pref="#-defining-services">Defining Services</a></li></ul></li><li id="-accessing-services-item" class="level-3"><a id="-accessing-services-link" href="./EN/applications/services.html#-accessing-services" class="level-3" pref="#-accessing-services">Accessing Services</a></li></ul></li></ul></li></ul></div>
  </div>
  <div role="flatdoc-content" class="content"><div class="extra_container"><div class="contributors_header">Contributors<span class="pull-right modified-date">Last Modified On : <a href="https://github.com/farhan687/emberjs/commit/3b8cfadcd65ef09ff814deecd58b21b6dc0ca6ef">Mar 23, 2016</a></span></div><div class="contributor-container"><a class="contributor" href="https://github.com/farhan687" title="farhan687" target="_blank"><img class="contributor_img img-rounded" src="https://avatars.githubusercontent.com/u/6059027?v=3" alt="farhan687"></a></div></div><div class="clearFix"></div><p>An <a href="http://emberjs.com/api/classes/Ember.Service.html"><code>Ember.Service</code></a> is a long-lived Ember object that can be made available in different parts of your application.</p><p>Services are useful for features that require shared state or persistent connections. Example uses of services might
include:</p><ul>
<li>User/session authentication.</li>
<li>Geolocation.</li>
<li>Web Sockets.</li>
<li>Server-sent events or notifications.</li>
<li>Server-backed API calls that may not fit Ember Data.</li>
<li>Third-party APIs.</li>
<li>Logging.</li>
</ul><h3 id="-defining-services">Defining Services</h3><p>Services can be generated using Ember CLI’s <code>service</code> generator.
For example, the following command will create the <code>ShoppingCart</code> service:</p><pre><code class="lang-bash prettyprint prettyprinted" style=""><span class="pln">ember generate service shopping</span><span class="pun">-</span><span class="pln">cart</span></code></pre><p>Services must extend the <a href="http://emberjs.com/api/classes/Ember.Service.html"><code>Ember.Service</code></a> base class:</p><pre><code class="lang-app/services/shopping-cart.js prettyprint prettyprinted" style=""><span class="kwd">export</span><span class="pln"> </span><span class="kwd">default</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="typ">Service</span><span class="pun">.</span><span class="pln">extend</span><span class="pun">({</span><span class="pln">
</span><span class="pun">});</span></code></pre><p>Like any Ember object, a service is initialized and can have properties and methods of its own.
Below the shopping cart service manages an items array that represents the items currently in the shopping cart.</p><pre><code class="lang-app/services/shopping-cart.js prettyprint prettyprinted" style=""><span class="kwd">export</span><span class="pln"> </span><span class="kwd">default</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="typ">Service</span><span class="pun">.</span><span class="pln">extend</span><span class="pun">({</span><span class="pln">
  items</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">null</span><span class="pun">,</span><span class="pln">

  init</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="kwd">this</span><span class="pun">.</span><span class="pln">_super</span><span class="pun">(...</span><span class="pln">arguments</span><span class="pun">);</span><span class="pln">
    </span><span class="kwd">this</span><span class="pun">.</span><span class="kwd">set</span><span class="pun">(</span><span class="string"><span class="str">'items'</span></span><span class="pun">,</span><span class="pln"> </span><span class="pun">[]);</span><span class="pln">
  </span><span class="pun">},</span><span class="pln">

  add</span><span class="pun">(</span><span class="pln">item</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="kwd">this</span><span class="pun">.</span><span class="kwd">get</span><span class="pun">(</span><span class="string"><span class="str">'items'</span></span><span class="pun">).</span><span class="pln">pushObject</span><span class="pun">(</span><span class="pln">item</span><span class="pun">);</span><span class="pln">
  </span><span class="pun">},</span><span class="pln">

  remove</span><span class="pun">(</span><span class="pln">item</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="kwd">this</span><span class="pun">.</span><span class="kwd">get</span><span class="pun">(</span><span class="string"><span class="str">'items'</span></span><span class="pun">).</span><span class="pln">removeObject</span><span class="pun">(</span><span class="pln">item</span><span class="pun">);</span><span class="pln">
  </span><span class="pun">},</span><span class="pln">

  empty</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    </span><span class="kwd">this</span><span class="pun">.</span><span class="kwd">get</span><span class="pun">(</span><span class="string"><span class="str">'items'</span></span><span class="pun">).</span><span class="pln">setObjects</span><span class="pun">([]);</span><span class="pln">
  </span><span class="pun">}</span><span class="pln">
</span><span class="pun">});</span></code></pre><h3 id="-accessing-services">Accessing Services</h3><p>To access a service,
you can inject it in any container-resolved object such as a component or another service using the <code>Ember.inject.service</code> function.
There are 2 ways to use this function.
You can either invoke it with no arguments, or you can pass it the registered name of the service.
When no arguments are passed the services is loaded based in the name of the variable key.
You can load the shopping cart service with no arguments like below.</p><pre><code class="lang-app/components/cart-contents.js prettyprint prettyprinted" style=""><span class="kwd">export</span><span class="pln"> </span><span class="kwd">default</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="typ">Component</span><span class="pun">.</span><span class="pln">extend</span><span class="pun">({</span><span class="pln">
  </span><span class="comment"><span class="com">//will load the service in file /app/services/shopping-cart.js</span></span><span class="pln">
  shoppingCart</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="pln">inject</span><span class="pun">.</span><span class="pln">service</span><span class="pun">()</span><span class="pln">
</span><span class="pun">});</span></code></pre><p>The other way to inject a service is to provide the name of the service as the argument.</p><pre><code class="lang-app/components/cart-contents.js prettyprint prettyprinted" style=""><span class="kwd">export</span><span class="pln"> </span><span class="kwd">default</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="typ">Component</span><span class="pun">.</span><span class="pln">extend</span><span class="pun">({</span><span class="pln">
  </span><span class="comment"><span class="com">//will load the service in file /app/services/shopping-cart.js</span></span><span class="pln">
  cart</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="pln">inject</span><span class="pun">.</span><span class="pln">service</span><span class="pun">(</span><span class="string"><span class="str">'shopping-cart'</span></span><span class="pun">)</span><span class="pln">
</span><span class="pun">});</span></code></pre><p>This injects the shopping cart service into the component and makes it available as the <code>cart</code> property.</p><p>Injected properties are lazy loaded; meaning the service will not be instantiated until the property is explicitly called.
Therefore you need to access services in your component using the <code>get</code> function otherwise you might get an undefined.</p><p>Once loaded, a service will persist until the application exits.</p><p>Below we add a remove action to the <code>cart-contents</code> component.
Notice that below we access the <code>cart</code> service with a call to<code>this.get</code>.</p><pre><code class="lang-app/components/cart-contents.js prettyprint prettyprinted" style=""><span class="kwd">export</span><span class="pln"> </span><span class="kwd">default</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="typ">Component</span><span class="pun">.</span><span class="pln">extend</span><span class="pun">({</span><span class="pln">
  cart</span><span class="pun">:</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="pln">inject</span><span class="pun">.</span><span class="pln">service</span><span class="pun">(</span><span class="string"><span class="str">'shopping-cart'</span></span><span class="pun">),</span><span class="pln">

  actions</span><span class="pun">:</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    remove</span><span class="pun">(</span><span class="pln">item</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
      </span><span class="kwd">this</span><span class="pun">.</span><span class="kwd">get</span><span class="pun">(</span><span class="string"><span class="str">'cart'</span></span><span class="pun">).</span><span class="pln">remove</span><span class="pun">(</span><span class="pln">item</span><span class="pun">);</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
  </span><span class="pun">}</span><span class="pln">
</span><span class="pun">});</span></code></pre><p>Once injected into a component, a service can also be used in the template.
Note <code>cart</code> being used below to get data from the cart.</p><pre><code class="lang-app/templates/components/cart-contents.hbs prettyprint prettyprinted" style=""><span class="tag">&lt;ul&gt;</span><span class="pln">
  {{</span><span class="comment"><span class="pln">#each cart.items as |item|}}</span></span><span class="pln">
    </span><span class="tag">&lt;li&gt;</span><span class="pln">
      {{item.name}}
      </span><span class="tag">&lt;button</span><span class="pln"> {{</span><span class="atn">action</span><span class="pln"> </span><span class="string"><span class="atv">"remove"</span></span><span class="pln"> </span><span class="atn">item</span><span class="pln">}}</span><span class="tag">&gt;</span><span class="pln">Remove</span><span class="tag">&lt;/button&gt;</span><span class="pln">
    </span><span class="tag">&lt;/li&gt;</span><span class="pln">
  {{/each}}
</span><span class="tag">&lt;/ul&gt;</span></code></pre></div>
  <!-- ngIf: docbaseOptions.method == 'github' --><a data-ng-if="docbaseOptions.method == 'github'" class="edit ng-scope" ng-href="https://github.com/farhan687/emberjs/tree/master/source/EN/applications/services.md" target="_blank" href="https://github.com/farhan687/emberjs/tree/master/source/EN/applications/services.md">
    <span class="fa fa-pencil"> Edit</span>
  </a><!-- end ngIf: docbaseOptions.method == 'github' -->
</div><!-- end ngIf: !index -->
<!-- ngIf: index -->
</div>

 <script type="text/javascript" src="./docbase-config.js"></script>
  <script type="text/javascript" src="./bower_components/docbase/dist/js/main.unique.js"></script>



</body><script>$(function(){  $('.search-form').searchAppbase('/search-index.json', true); })</script></html>