<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <base href="../../">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Flatdoc theme -->
  <link href="./bower_components/flatdoc/theme-white/style.css" rel="stylesheet">
  <script src="./bower_components/google-code-prettify/bin/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./bower_components/google-code-prettify/bin/prettify.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css">
  <!-- DocBase -->
  <link rel="stylesheet" type="text/css" href="./bower_components/docbase/dist/css/main.min.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./styles/theme.css">
  
<script type="text/javascript" async="" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script></head>
<body role="flatdoc" class="no-literate">
  <!-- ngView:  --><div ng-view="" class="ng-scope"><!-- ngInclude: navbarHtml --><nav class="navbar navbar-default navbar-fixed-top ng-scope" ng-include="navbarHtml"><div class="container-fluid ng-scope">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="docs-appbase-logo" class="navbar-brand" ng-href="#/" href="#/">
      <img src="./images/docbase.png">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./DE/addons-and-dependencies/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./DE/addons-and-dependencies/index.html>addons-and-dependencies</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/addons-and-dependencies/managing-dependencies.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/addons-and-dependencies/managing-dependencies.de-DE.html>managing-dependencies.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./DE/addons-and-dependencies/index.html ng-bind="file.label" class="ng-binding" href=./DE/addons-and-dependencies/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./DE/applications/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./DE/applications/index.html>applications</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/applications/applications-and-instances.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/applications/applications-and-instances.de-DE.html>applications-and-instances.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/applications/dependency-injection.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/applications/dependency-injection.de-DE.html>dependency-injection.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/applications/initializers.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/applications/initializers.de-DE.html>initializers.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/applications/run-loop.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/applications/run-loop.de-DE.html>run-loop.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/applications/services.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/applications/services.de-DE.html>services.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./DE/applications/index.html ng-bind="file.label" class="ng-binding" href=./DE/applications/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./DE/components/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./DE/components/index.html>components</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/components/customizing-a-components-element.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/components/customizing-a-components-element.de-DE.html>customizing-a-components-element.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/components/defining-a-component.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/components/defining-a-component.de-DE.html>defining-a-component.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/components/handling-events.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/components/handling-events.de-DE.html>handling-events.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/components/passing-properties-to-a-component.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/components/passing-properties-to-a-component.de-DE.html>passing-properties-to-a-component.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/components/the-component-lifecycle.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/components/the-component-lifecycle.de-DE.html>the-component-lifecycle.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/components/triggering-changes-with-actions.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/components/triggering-changes-with-actions.de-DE.html>triggering-changes-with-actions.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/components/wrapping-content-in-a-component.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/components/wrapping-content-in-a-component.de-DE.html>wrapping-content-in-a-component.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./DE/components/index.html ng-bind="file.label" class="ng-binding" href=./DE/components/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./DE/configuring-ember/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./DE/configuring-ember/index.html>configuring-ember</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/configuring-ember-cli.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/configuring-ember-cli.de-DE.html>configuring-ember-cli.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/configuring-your-app.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/configuring-your-app.de-DE.html>configuring-your-app.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/debugging.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/debugging.de-DE.html>debugging.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/disabling-prototype-extensions.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/disabling-prototype-extensions.de-DE.html>disabling-prototype-extensions.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/embedding-applications.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/embedding-applications.de-DE.html>embedding-applications.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/feature-flags.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/feature-flags.de-DE.html>feature-flags.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/handling-deprecations.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/handling-deprecations.de-DE.html>handling-deprecations.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/configuring-ember/specifying-url-type.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/specifying-url-type.de-DE.html>specifying-url-type.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./DE/configuring-ember/index.html ng-bind="file.label" class="ng-binding" href=./DE/configuring-ember/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./DE/contributing/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./DE/contributing/index.html>contributing</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/contributing/adding-new-features.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/contributing/adding-new-features.de-DE.html>adding-new-features.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/contributing/repositories.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/contributing/repositories.de-DE.html>repositories.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./DE/contributing/index.html ng-bind="file.label" class="ng-binding" href=./DE/contributing/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./DE/controllers/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./DE/controllers/index.html>controllers</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/controllers/dependencies-between-controllers.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/controllers/dependencies-between-controllers.de-DE.html>dependencies-between-controllers.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./DE/controllers/index.de-DE.html ng-bind="file.label" class="ng-binding" href=./DE/controllers/index.de-DE.html>index.de-DE</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./DE/controllers/index.html ng-bind="file.label" class="ng-binding" href=./DE/controllers/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown search-dropdown">
        <div class="form-group search-form" data-ng-class="{'open-in':search.length &gt; 0}"><input class="search_field form-control dropdown-toggle appbase-search" type="text" placeholder="search"></div>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
           <span ng-bind="currentVersion" class="ng-binding">DE</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu version-switcher" role="menu">
          <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./BR/addons-and-dependencies/managing-dependencies.pt-BR.html ng-bind="version" class="ng-binding" href=./BR/addons-and-dependencies/managing-dependencies.pt-BR.html>BR</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./DE/addons-and-dependencies/managing-dependencies.de-DE.html ng-bind="version" class="ng-binding" href=./DE/addons-and-dependencies/managing-dependencies.de-DE.html>DE</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./EN/addons-and-dependencies/managing-dependencies.html ng-bind="version" class="ng-binding" href=./EN/addons-and-dependencies/managing-dependencies.html>EN</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./JP/addons-and-dependencies/managing-dependencies.ja-JP.html ng-bind="version" class="ng-binding" href=./JP/addons-and-dependencies/managing-dependencies.ja-JP.html>JP</a>
          </li><!-- end ngRepeat: version in versions -->
        </ul>
      </li>
      <!-- ngIf: docbaseOptions.method == 'github' --><li class="github-star ng-scope" data-ng-if="docbaseOptions.method == 'github'">
        <iframe src="https://ghbtns.com/github-btn.html?user=farhan687&amp;repo=emberjs&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </li><!-- end ngIf: docbaseOptions.method == 'github' -->
      <!-- ngIf: docbaseOptions.method != 'github' -->
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- ngIf: !index --><div role="flatdoc" class="content-root ng-scope" data-ng-if="!index">
  <div class="menubar fixed">
    <div class="menu section" role="flatdoc-menu"><ul><li id="root-item" class="level-0"><ul class="level-1" id="root-list"><li id="title-item" class="level-1"><a id="title-link" href="./DE/components/passing-properties-to-a-component.de-DE.html#title" class="level-1" pref="#title">{{title}}</a></li></ul></li></ul></div>
  </div>
  <div role="flatdoc-content" class="content"><div class="extra_container"><div class="contributors_header">Contributors<span class="pull-right modified-date">Last Modified On : <a href="https://github.com/farhan687/emberjs/commit/bbd61025441f1cdd7dec714a5a5abe29dba6a103">Mar 24, 2016</a></span></div><div class="contributor-container"><a class="contributor" href="https://github.com/farhan687" title="farhan687" target="_blank"><img class="contributor_img img-rounded" src="https://avatars.githubusercontent.com/u/6059027?v=3" alt="farhan687"></a></div></div><div class="clearFix"></div><p>Components are isolated from their surroundings, so any data that the component needs has to be passed in.</p><p>For example, imagine you have a <code>blog-post</code> component that is used to display a blog post:</p><p>```app/templates/components/blog-post.hbs </p><article class="blog-post"> <p></p>
<h1 id="title">{{title}}</h1>
<p>{{body}}</p></article><p></p><pre><code class="prettyprint prettyprinted" style=""><span class="tag">&lt;br</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">Now imagine we have the following template and route:

```app/routes/index.js
export default Ember.Route.extend({
  model() {
    return this.store.findAll('post');
  }
});</span></code></pre><p>If we tried to use the component like this:</p><p>```app/templates/index.hbs {{#each model as |post|}} {{blog-post}} {{/each}}</p><pre><code class="prettyprint prettyprinted" style=""><span class="tag">&lt;br</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">The following HTML would be rendered:

```html
</span><span class="tag">&lt;article</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"blog-post"</span><span class="tag">&gt;</span><span class="pln">
  </span><span class="tag">&lt;h1&gt;&lt;/h1&gt;</span><span class="pln">
  </span><span class="tag">&lt;p&gt;&lt;/p&gt;</span><span class="pln">
</span><span class="tag">&lt;/article&gt;</span></code></pre><p>In order to make a property available to a component, you must pass it in like this:</p><p>```app/templates/index.hbs {{#each model as |post|}} {{blog-post title=post.title body=post.body}} {{/each}}</p><pre><code class="prettyprint prettyprinted" style=""><span class="tag">&lt;br</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">It is important to note that these properties stay in sync (technically
known as being "bound"). That is, if the value of `componentProperty`
changes in the component, `outerProperty` will be updated to reflect that
change. The reverse is true as well.

## Positional Params

In addition to passing parameters in by name, you can pass them in by position.
In other words, you can invoke the above component example like this:

```app/templates/index.hbs
{{#each model as |post|}}
  {{blog-post post.title post.body}}
{{/each}}</span></code></pre><p>To set the component up to receive parameters this way, you need set the <a href="http://emberjs.com/api/classes/Ember.Component.html#property_positionalParams"><code>positionalParams</code></a> attribute in your component class.</p><p>```app/components/blog-post.js const BlogPostComponent = Ember.Component.extend({});</p><p>BlogPostComponent.reopenClass({ positionalParams: [‘title’, ‘body’] });</p><p>export default BlogPostComponent;</p><pre><code class="prettyprint prettyprinted" style=""><span class="tag">&lt;br</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">Then you can use the attributes in the component exactly as if they had been
passed in like `{{blog-post title=post.title body=post.body}}`.

Notice that the `positionalParams` property is added to the class as a
static variable via `reopenClass`. Positional params are always declared on
the component class and cannot be changed while an application runs.

Alternatively, you can accept an arbitrary number of parameters by
setting `positionalParams` to a string, e.g. `positionalParams: 'params'`. This
will allow you to access those params as an array like so:

```app/components/blog-post.js
const BlogPostComponent = Ember.Component.extend({
  title: Ember.computed('params.[]', function(){
    return this.get('params')[0];
  }),
  body: Ember.computed('params.[]', function(){
    return this.get('params')[1];
  })
});

BlogPostComponent.reopenClass({
  positionalParams: 'params'
});

export default BlogPostComponent;</span></code></pre></div>
  <!-- ngIf: docbaseOptions.method == 'github' --><a data-ng-if="docbaseOptions.method == 'github'" class="edit ng-scope" ng-href="https://github.com/farhan687/emberjs/tree/master/source/DE/components/passing-properties-to-a-component.de-DE.md" target="_blank" href="https://github.com/farhan687/emberjs/tree/master/source/DE/components/passing-properties-to-a-component.de-DE.md">
    <span class="fa fa-pencil"> Edit</span>
  </a><!-- end ngIf: docbaseOptions.method == 'github' -->
</div><!-- end ngIf: !index -->
<!-- ngIf: index -->
</div>

 <script type="text/javascript" src="./docbase-config.js"></script>
  <script type="text/javascript" src="./bower_components/docbase/dist/js/main.unique.js"></script>



</body><script>$(function(){  $('.search-form').searchAppbase('./search-index.json', true); })</script></html>