<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <base href="../../">
  <title>Documentation</title>
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <!-- Flatdoc theme -->
  <link href="./bower_components/flatdoc/theme-white/style.css" rel="stylesheet">
  <script src="./bower_components/google-code-prettify/bin/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./bower_components/google-code-prettify/bin/prettify.min.css">
  <link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css">
  <!-- DocBase -->
  <link rel="stylesheet" type="text/css" href="./bower_components/docbase/dist/css/main.min.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="./styles/theme.css">
  
<script type="text/javascript" async="" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script></head>
<body role="flatdoc" class="no-literate">
  <!-- ngView:  --><div ng-view="" class="ng-scope"><!-- ngInclude: navbarHtml --><nav class="navbar navbar-default navbar-fixed-top ng-scope" ng-include="navbarHtml"><div class="container-fluid ng-scope">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="docs-appbase-logo" class="navbar-brand" ng-href="#/" href="#/">
      <img src="./images/docbase.png">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/components/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/components/index.html>components</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/components/customizing-a-components-element.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/components/customizing-a-components-element.html>customizing-a-components-element</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/components/defining-a-component.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/components/defining-a-component.html>defining-a-component</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/components/handling-user-interaction-with-actions.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/components/handling-user-interaction-with-actions.html>handling-user-interaction-with-actions</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/components/passing-properties-to-a-component.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/components/passing-properties-to-a-component.html>passing-properties-to-a-component</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/components/sending-actions-from-components-to-your-application.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/components/sending-actions-from-components-to-your-application.html>sending-actions-from-components-to-your-application</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/components/wrapping-content-in-a-component.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/components/wrapping-content-in-a-component.html>wrapping-content-in-a-component</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/components/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/components/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/concepts/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/concepts/index.html>concepts</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/concepts/core-concepts.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/concepts/core-concepts.html>core-concepts</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/concepts/naming-conventions.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/concepts/naming-conventions.html>naming-conventions</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/concepts/understanding-web-apps.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/concepts/understanding-web-apps.html>understanding-web-apps</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/concepts/what-is-ember-js.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/concepts/what-is-ember-js.html>what-is-ember-js</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/concepts/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/concepts/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/configuring-ember/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/configuring-ember/index.html>configuring-ember</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/configuring-ember/disabling-prototype-extensions.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/configuring-ember/disabling-prototype-extensions.html>disabling-prototype-extensions</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/configuring-ember/embedding-applications.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/configuring-ember/embedding-applications.html>embedding-applications</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/configuring-ember/feature-flags.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/configuring-ember/feature-flags.html>feature-flags</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/configuring-ember/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/configuring-ember/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/contributing/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/contributing/index.html>contributing</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/contributing/adding-new-features.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/adding-new-features.html>adding-new-features</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/contributing/deciding_if_a_recipe_is_a_good_fit.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/deciding_if_a_recipe_is_a_good_fit.html>deciding_if_a_recipe_is_a_good_fit</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/contributing/participating_if_you_dont_know_ember.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/participating_if_you_dont_know_ember.html>participating_if_you_dont_know_ember</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/contributing/participating_if_you_know_ember.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/participating_if_you_know_ember.html>participating_if_you_know_ember</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/contributing/repositories.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/repositories.html>repositories</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/contributing/suggesting_a_recipe.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/suggesting_a_recipe.html>suggesting_a_recipe</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/contributing/understanding_the_cookbook_format.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/understanding_the_cookbook_format.html>understanding_the_cookbook_format</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/contributing/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/contributing/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/event_handling_and_data_binding/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/event_handling_and_data_binding/index.html>event_handling_and_data_binding</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/event_handling_and_data_binding/binding_properties_of_an_object_to_its_own_properties.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/event_handling_and_data_binding/binding_properties_of_an_object_to_its_own_properties.html>binding_properties_of_an_object_to_its_own_properties</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/event_handling_and_data_binding/responding_to_user_events.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/event_handling_and_data_binding/responding_to_user_events.html>responding_to_user_events</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/event_handling_and_data_binding/setting_the_attributes_of_a_views_element.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/event_handling_and_data_binding/setting_the_attributes_of_a_views_element.html>setting_the_attributes_of_a_views_element</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/event_handling_and_data_binding/toggling_a_boolean_property.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/event_handling_and_data_binding/toggling_a_boolean_property.html>toggling_a_boolean_property</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/event_handling_and_data_binding/using_computed_properties.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/event_handling_and_data_binding/using_computed_properties.html>using_computed_properties</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/event_handling_and_data_binding/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/event_handling_and_data_binding/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/helpers_and_components/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/helpers_and_components/index.html>helpers_and_components</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/helpers_and_components/adding_google_analytics_tracking.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/helpers_and_components/adding_google_analytics_tracking.html>adding_google_analytics_tracking</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/helpers_and_components/creating_a_handlebars_helper_to_truncate_text.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/helpers_and_components/creating_a_handlebars_helper_to_truncate_text.html>creating_a_handlebars_helper_to_truncate_text</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/helpers_and_components/creating_reusable_social_share_buttons.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/helpers_and_components/creating_reusable_social_share_buttons.html>creating_reusable_social_share_buttons</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/helpers_and_components/spin_button_for_asynchronous_actions.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/helpers_and_components/spin_button_for_asynchronous_actions.html>spin_button_for_asynchronous_actions</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/helpers_and_components/writing_a_custom_handlebars_helper.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/helpers_and_components/writing_a_custom_handlebars_helper.html>writing_a_custom_handlebars_helper</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/helpers_and_components/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/helpers_and_components/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/user_interface_and_interaction/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/user_interface_and_interaction/index.html>user_interface_and_interaction</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/adding_css_classes_to_your_components.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/adding_css_classes_to_your_components.html>adding_css_classes_to_your_components</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/adding_css_classes_to_your_components_based_on_properties.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/adding_css_classes_to_your_components_based_on_properties.html>adding_css_classes_to_your_components_based_on_properties</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/basic_form_validations.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/basic_form_validations.html>basic_form_validations</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/converting_strings_to_currency_with_accounting_js.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/converting_strings_to_currency_with_accounting_js.html>converting_strings_to_currency_with_accounting_js</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/displaying_formatted_dates_with_moment_js.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/displaying_formatted_dates_with_moment_js.html>displaying_formatted_dates_with_moment_js</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/focusing_a_textfield_after_its_been_inserted.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/focusing_a_textfield_after_its_been_inserted.html>focusing_a_textfield_after_its_been_inserted</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/resetting_scroll_on_route_changes.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/resetting_scroll_on_route_changes.html>resetting_scroll_on_route_changes</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/specifying_data_driven_areas_of_templates_that_do_not_need_to_update.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/specifying_data_driven_areas_of_templates_that_do_not_need_to_update.html>specifying_data_driven_areas_of_templates_that_do_not_need_to_update</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/user_interface_and_interaction/using_modal_dialogs.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/using_modal_dialogs.html>using_modal_dialogs</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/user_interface_and_interaction/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/user_interface_and_interaction/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href=./v1.10.0/working_with_objects/index.html class="dropdown-toggle map_folder ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href=./v1.10.0/working_with_objects/index.html>working_with_objects</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/working_with_objects/continuous_redrawing_of_views.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/working_with_objects/continuous_redrawing_of_views.html>continuous_redrawing_of_views</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/working_with_objects/displaying_content_arrays_in_reverse_order.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/working_with_objects/displaying_content_arrays_in_reverse_order.html>displaying_content_arrays_in_reverse_order</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/working_with_objects/incrementing_or_decrementing_a_property.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/working_with_objects/incrementing_or_decrementing_a_property.html>incrementing_or_decrementing_a_property</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/working_with_objects/naming_your_child_views.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/working_with_objects/naming_your_child_views.html>naming_your_child_views</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope">
            <a ng-href=./v1.10.0/working_with_objects/setting_multiple_properties_at_once.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/working_with_objects/setting_multiple_properties_at_once.html>setting_multiple_properties_at_once</a>
          </li><!-- end ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" data-ng-hide="file.name == 'index'" class="ng-scope ng-hide">
            <a ng-href=./v1.10.0/working_with_objects/index.html ng-bind="file.label" class="ng-binding" href=./v1.10.0/working_with_objects/index.html>index</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown search-dropdown">
        <div class="form-group search-form" data-ng-class="{'open-in':search.length &gt; 0}"><input class="search_field form-control dropdown-toggle appbase-search" type="text" placeholder="search"></div>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
           <span ng-bind="currentVersion" class="ng-binding">v1.10.0</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu version-switcher" role="menu">
          <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./v1.10.0/components/customizing-a-components-element.html ng-bind="version" class="ng-binding" href=./v1.10.0/components/customizing-a-components-element.html>v1.10.0</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./v2.0.0/addons-and-dependencies/managing-dependencies.html ng-bind="version" class="ng-binding" href=./v2.0.0/addons-and-dependencies/managing-dependencies.html>v2.0.0</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=./v2.2.0/addons-and-dependencies/managing-dependencies.html ng-bind="version" class="ng-binding" href=./v2.2.0/addons-and-dependencies/managing-dependencies.html>v2.2.0</a>
          </li><!-- end ngRepeat: version in versions -->
        </ul>
      </li>
      <!-- ngIf: docbaseOptions.method == 'github' --><li class="github-star ng-scope" data-ng-if="docbaseOptions.method == 'github'">
        <iframe src="https://ghbtns.com/github-btn.html?user=farhan687&amp;repo=emberjs&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </li><!-- end ngIf: docbaseOptions.method == 'github' -->
      <!-- ngIf: docbaseOptions.method != 'github' -->
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- ngIf: !index --><div role="flatdoc" class="content-root ng-scope" data-ng-if="!index">
  <div class="menubar fixed">
    <div class="menu section" role="flatdoc-menu"><ul><li id="root-item" class="level-0"></li></ul></div>
  </div>
  <div role="flatdoc-content" class="content"><div class="extra_container"><div class="contributors_header">Contributors<span class="pull-right modified-date">Last Modified On : <a href="https://github.com/farhan687/emberjs/commit/8d7fa53e1922d88ad563c8db3b99f4bbbbabb43b">Mar 25, 2016</a></span></div><div class="contributor-container"><a class="contributor" href="https://github.com/farhan687" title="farhan687" target="_blank"><img class="contributor_img img-rounded" src="https://avatars.githubusercontent.com/u/6059027?v=3" alt="farhan687"></a></div></div><div class="clearFix"></div><p>Components allow you to define controls that you can reuse throughout
your application. If they’re generic enough, they can also be shared
with others and used in multiple applications.</p><p>To make a reusable control useful, however, you first need to allow
users of your application to interact with it.</p><p>You can make elements in your component interactive by using the
<code>{{action}}</code> helper. This is the <a href="../../templates/actions">same <code>{{action}}</code> helper you use in
application templates</a>, but it has an
important difference when used inside a component.</p><p>Instead of sending an action to the template’s controller, then bubbling
up the route hierarchy, actions sent from inside a component are sent
directly to the component’s <code>Ember.Component</code> instance, and do not
bubble.</p><p>For example, imagine the following component that shows a post’s title.
When the title is clicked, the entire post body is shown:</p><pre><code class="lang-handlebars prettyprint prettyprinted" style=""><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">type</span><span class="pun">=</span><span class="string"><span class="atv">"text/x-handlebars"</span></span><span class="pln"> </span><span class="atn">id</span><span class="pun">=</span><span class="string"><span class="atv">"components/post-summary"</span></span><span class="tag">&gt;</span><span class="pln">
  </span><span class="pun">&lt;</span><span class="pln">h</span><span class="number"><span class="pln">3</span></span><span class="pln"> </span><span class="pun">{{</span><span class="pln">action </span><span class="string"><span class="str">"toggleBody"</span></span><span class="pun">}}&gt;{{</span><span class="pln">title</span><span class="pun">}}&lt;/</span><span class="pln">h</span><span class="number"><span class="pln">3</span></span><span class="pun">&gt;</span><span class="pln">
  </span><span class="pun">{{</span><span class="comment"><span class="pun">#</span><span class="kwd">if</span><span class="pln"> isShowingBody</span><span class="pun">}}</span></span><span class="pln">
    </span><span class="pun">&lt;</span><span class="pln">p</span><span class="pun">&gt;{{{</span><span class="pln">body</span><span class="pun">}}}&lt;/</span><span class="pln">p</span><span class="pun">&gt;</span><span class="pln">
  </span><span class="pun">{{/</span><span class="kwd">if</span><span class="pun">}}</span><span class="pln">
</span><span class="tag">&lt;/script&gt;</span></code></pre><pre><code class="lang-js prettyprint prettyprinted" style=""><span class="typ">App</span><span class="pun">.</span><span class="typ">PostSummaryComponent</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="typ">Ember</span><span class="pun">.</span><span class="typ">Component</span><span class="pun">.</span><span class="pln">extend</span><span class="pun">({</span><span class="pln">
  actions</span><span class="pun">:</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
    toggleBody</span><span class="pun">:</span><span class="pln"> </span><span class="kwd">function</span><span class="pun">()</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
      </span><span class="kwd">this</span><span class="pun">.</span><span class="pln">toggleProperty</span><span class="pun">(</span><span class="string"><span class="str">'isShowingBody'</span></span><span class="pun">);</span><span class="pln">
    </span><span class="pun">}</span><span class="pln">
  </span><span class="pun">}</span><span class="pln">
</span><span class="pun">});</span></code></pre><p><iframe class="" id="" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(170, 170, 170); border-right-color: rgb(170, 170, 170); border-bottom-color: rgb(170, 170, 170); border-left-color: rgb(170, 170, 170); width: 100%; min-height: 300px; " data-url="http://jsbin.com/yuzena/embed?live" src="https://jsbin.com/embed-holding"></iframe><script src="http://static.jsbin.com/js/embed.js"></script></p><p>The <code>{{action}}</code> helper can accept arguments, listen for different event
types, control how action bubbling occurs, and more.</p><p>For details about using the <code>{{action}}</code> helper, see the <a href="../../templates/actions">Actions
section</a> of the Templates chapter.</p></div>
  <!-- ngIf: docbaseOptions.method == 'github' --><a data-ng-if="docbaseOptions.method == 'github'" class="edit ng-scope" ng-href="https://github.com/farhan687/emberjs/tree/master/source/v1.10.0/components/handling-user-interaction-with-actions.md" target="_blank" href="https://github.com/farhan687/emberjs/tree/master/source/v1.10.0/components/handling-user-interaction-with-actions.md">
    <span class="fa fa-pencil"> Edit</span>
  </a><!-- end ngIf: docbaseOptions.method == 'github' -->
</div><!-- end ngIf: !index -->
<!-- ngIf: index -->
</div>

 <script type="text/javascript" src="./docbase-config.js"></script>
  <script type="text/javascript" src="./bower_components/docbase/dist/js/main.unique.js"></script>



</body><script>$(function(){  $('.search-form').searchAppbase('./search-index.json', true); })</script></html>